<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  
  <div *ngFor="let section of sections">
    <mat-step [stepControl]="formGroups[section.sectionName]" floatLabel="always">
      <form [formGroup]="formGroups[section.sectionName]">
        <ng-template matStepLabel>{{ section.sectionName }}</ng-template>

        <div *ngFor="let question of section.questions" class="form-row">
          <app-question [question]="question" [form]="formGroups[section.sectionName]"></app-question>
        </div>

      </form>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
  </div>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-raised-button (click)="onSubmit()" type="button">Submit Form</button>
    </div>
  </mat-step>
</mat-stepper>